# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
override.tf
override.tf.json
*_override.tf
.terraformrc
terraform.rc
.terraform.lock.hcl

# Secrets / kube
kubeconfig*.yaml
*.key
*.pem
unsealed-*.yaml
.DS_Store
